#sub3 {
    width: 100%;
    .container {
        width: 100%;
        .title {
            max-width: 1100px;
            margin: 0 auto;
            padding: 30px 0 20px 0;
            h2 {
                img {
                    width: auto;
                }
            }
            .small-txt {
                display: flex;
                align-items: center;
                justify-content: right;
                img {
                    padding-right: 5px;
                }
                h4 {
                    font-weight: 400;
                    color: #222;
                    font-size: 12px;
                }
            }
        }
        .content {
            width: 100%;
            > ul {
                width: 100%;
                > li {
                    width: 100%;
                    .gap {
                        width: 100%;
                        position: relative;
                        .sub-content2 {
                            border-top: solid 2px #0d6035;
                            background: url(../../../../public/img/starbucks/sub2/useInfo_bg.jpg) no-repeat 50% 100%;
                            background-size:contain;
                            height: 70px;
                            width: 100%;
                            position: relative;
                            display: flex;
                            .left-box {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 60%;
                                height: 68px;
                                background-color: #111;
                                
                            }
                            .right-box {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 40%;
                                height: 68px;
                                background: url(../../../../public/img/starbucks/sub1/useInfo_bg.jpg);
                            }
                            .row-box {
                                width: 100%;
                                max-width: 1100px;
                                margin: 0 auto;
                                position: relative;
                                .row1 {
                                    position: absolute;
                                    top: 0;
                                    left: 2%;
                                    height: 70px;
                                    width: 729px;
                                    display: flex;
                                    align-items: center;
                                    img {
                                        &:nth-child(1) {
                                        width: 63px;
                                        height: 17px;
                                        margin-right: 15px;
                                        }
                                        &:last-child {
                                        width: 36px;
                                        height: 36px;
                                        position: relative;
                                        right: 5%;
                                        }
                                    }
                                    .notice-box {
                                        width: 100%;
                                        overflow-y: hidden;
                                        height: 13px;
                                        cursor: pointer;
                                        ul {
                                            margin-top: -24px;
                                            li {
                                                margin-bottom: 11px;
                                                h4 {
                                                    color: #fff;
                                                    font-size: 13px;
                                                    font-weight: 500;
                                                    &:hover {
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .row2 {
                                    position: absolute;
                                    bottom: 0;
                                    right: 3%;
                                    width: 317px;
                                    height: 70px;
                                    img {

                                        &:nth-child(1) {
                                            margin-right: 15px;
                                            position: relative;
                                            top: 16%;
                                            }
                                        &:nth-child(2) {
                                            position: relative;
                                            bottom: 5%;
                                            }
                                        &:last-child {
                                        width: 36px;
                                        height: 36px;
                                        position: relative;
                                        left:  13%;
                                        bottom: 7%;
                                            }
                                        }
                                    }
                                }
                            }
                        .sub-content3 {
                            background: url(../../../../public/img/starbucks/sub3/store_bn1_171109.jpg) 30% 0%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .col-box {
                                position: relative;
                                left: 17%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin: 60px 0;
                                        display: block;
                                        background-color: transparent;
                                        color: #fff;
                                        font-size: 14px;
                                        font-weight: 500;
                                        border: 2px solid #fff;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #Fff;
                                            color: #000;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        .sub-content4 {
                            background: url(../../../../public/img/starbucks/sub3/store_bn_221110_01.jpg) 80% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            .col-box {
                                position: relative;
                                left: 19%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 40px;
                                        display: block;
                                        background-color: transparent;
                                        color: #000;
                                        font-size: 14px;
                                        font-weight: 500;
                                        border: 2px solid #000;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        cursor: pointer;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #000;
                                            color: #fff;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        .sub-content5 {
                            background: url(../../../../public/img/starbucks/sub3/store_bn_221117_02_02.jpg) 20% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .col-box {
                                position: relative;
                                left: 20%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 40px;
                                        display: block;
                                        background-color: transparent;
                                        color: #fff;
                                        font-size: 14px;
                                        font-weight: 500;
                                        border: 2px solid #fff;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #Fff;
                                            color: #000;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        .sub-content6 {
                            background: url(../../../../public/img/starbucks/sub3/store_bn_221110_03.jpg) 80% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            .col-box {
                                position: relative;
                                left: 19%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 60px;
                                        display: block;
                                        background-color: transparent;
                                        color: #000;
                                        font-size: 14px;
                                        font-weight: 500;
                                        border: 2px solid #000;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        cursor: pointer;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #000;
                                            color: #fff;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }  
                }
            }
        }
    }