#sub7 {
    width: 100%;
    .container {
        width: 100%;
        .title {
            max-width: 1100px;
            margin: 0 auto;
            padding: 30px 0 20px 0;
            h2 {
                img {
                    width: auto;
                }
            }
            .small-txt {
                display: flex;
                align-items: center;
                justify-content: right;
                img {
                    padding-right: 5px;
                }
                h4 {
                    font-weight: 400;
                    color: #222;
                    font-size: 12px;
                }
            }
        }
        .content {
            width: 100%;
            ul {
                width: 100%;
                li {
                    width: 100%;
                    .gap {
                        width: 100%;
                        .sub-content1 {
                            background: url(../../../../public/img/starbucks/sub7/FeHAgU_20231227161309241.jpg) 50% 100%;
                            height: 400px;
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                                > img {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                }
                            .button-box {
                                z-index: 4;
                                display: flex;
                                justify-content: space-between;
                                // background-color: red;
                                width: 100%;
                                position: absolute;
                                top: 40%;
                            .left {
                                width: 55px;
                                height: 55px;
                                position: relative;
                                z-index: 3;
                                left: 3%;
                                transition: all 0.3s ease-in-out;
                                background:url(../../../../public/img/starbucks/sub1/mscard_arrow_l_off.png) no-repeat;
                                &:hover {
                                    background:url(../../../../public/img/starbucks/sub1/mscard_arrow_l_on.png)no-repeat
                                }
                            }
                            .right {
                                width: 55px;
                                height: 55px;
                                z-index: 3;
                                position: relative;
                                right: 3%;
                                transition: all 0.3s ease-in-out;
                                background:url(../../../../public/img/starbucks/sub1/mscard_arrow_r_off.png) no-repeat;
                                &:hover {
                                    background:url(../../../../public/img/starbucks/sub1/mscard_arrow_r_on.png) no-repeat
                                    }
                                }
                            }
                            .play-img {
                                position: absolute;
                                z-index: 3;
                                bottom: 30px;
                                left: 48.7%;
                                a {
                                    img {
                                        width: 13px;
                                        height: 15px;
                                    }
                                }
                            }
                            .page-count {
                                position: absolute;
                                z-index: 3;
                                bottom: 30px;
                                left: 50%;
                                a {
                                    img {
                                        margin-right: 10px;
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                        }
                        .sub-content1-1 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: url(../../../../public/img/starbucks/sub7/green_bg.jpg) no-repeat 50% 100% #7b7c7f;
                            height: 70px;
                            h2 {
                                font-weight: 500;
                                font-size: 26px;
                                color: #fff;
                                cursor: pointer;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            img {

                                margin-left: 10px;
                            }
                        }
                        .sub-content1-2 {
                            background-color: #fff;
                            z-index: 3;
                            position: relative;
                            top:0 ;
                            left: 0;
                            width: 100%;
                            overflow: hidden;
                            &.on {
                                padding: 30px 0;
                                animation: anicontent12On 0.5s ease-in-out;
                            }
                            &.off {
                                display: none;
                                animation: anicontent12Off 0.2s ease-in-out;
                            }
                            @keyframes anicontent12On {
                                0%     {height: 0;
                                        display: none;}
                                100%   {height: 1354px;
                                    display: block;}
                            }
                            @keyframes anicontent12Off {
                                0%       {height: 1354px;
                                    display: block;}
                                100%     {height: 0;
                                    display: none;}
                            }
                            div {
                                    .box {
                                        padding: 40px 0 70px 0;
                                        width: 100%;
                                        max-width: 1120px;
                                        margin: 0 auto;
                                        > ul {
                                            width: 100%;
                                            display: flex;
                                            flex-flow: row wrap;
                                            margin: 0 auto;
                                            > li {
                                                cursor: pointer;
                                                width: 25%;
                                                margin:10px;
                                                    width: 260px;
                                                    border: 1px solid #e1e1e1;
                                                    overflow: hidden;
                                                    .img-box {
                                                            width: 260px;
                                                            height: 248px;
                                                            overflow: hidden;
                                                            margin-bottom: 10px;
                                                            &#store {
        
                                                        width: auto;
                                                        height: auto;
                                                            }
                                                    a {
                                                        img {
                                                            transition: all 0.3s ease-in-out;
                                                            max-width: 100%;
                                                            overflow: hidden;
                                                            &:hover {
                                                                transform: scale(1.1);
                                                            }
                                                            &.imgsize {
                                                                width: 258px;
                                                                height: 193.5px;
                                                            }
                                                        }
                                                    }
                                                }
                                                    .text-box {
                                                        margin: 15px 15px 20px 15px;
                                                        color: #444;
                                                        background: transparent;
                                                        height: 33px;
                                                        text-align: center;
                                                        overflow: hidden;
                                                        div {
                                                            width: 100%;
                                                            &.p1 {
                                                                display: flex;
                                                                align-items: center;
                                                                justify-content: center;
                                                                img {
                                                                    width: 16px;
                                                                    height: 16px;
                                                                    margin-right: 3px;
                                                                }
                                                                h4 {
                                                                    overflow: hidden;
                                                                    white-space: nowrap;
                                                                    text-overflow: ellipsis;
                                                                    font-size: 16px;
                                                                    font-weight: 500;
                                                                
                                                                }
                                                            }
                                                            &.p2 {
                                                                margin-top: 5px;
                                                                h5 {
                                                                    font-weight: 500;
                                                                    font-size: 12px;
                                                                    color:  #666666;
                                                                }
                                                            }
                                                        }
                                                    }
                                                
                                            }
                                        }
                                    }
                                &.whole2 {
                                    background-color: #f4f4f2;
                                    .box {
                                        padding: 40px 0 70px 0;
                                        width: 100%;
                                        max-width: 1120px;
                                        margin: 0 auto;
                                        ul {
                                            background-color: #f4f4f2;
                                        }
                                    }
                                }
                                h2 {
                                    font-size: 18px;
                                    color: #222;
                                    padding: 0 0 10px 10px
                                }
                                
                                
                            }
                        }
                        .sub-content2 {
                            background: url(../../../../public/img/starbucks/sub1/newsArea_bg2.jpg) no-repeat 50% 100%;
                            background-size:contain;
                            height: 70px;
                            width: 100%;
                            position: relative;
                            display: flex;
                            .left-box {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 60%;
                                height: 70px;
                                background-color: #111;
                            }
                            .right-box {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 40%;
                                height: 70px;
                                background: url(../../../../public/img/starbucks/sub1/useInfo_bg.jpg);
                            }
                            .row-box {
                                width: 100%;
                                max-width: 1100px;
                                margin: 0 auto;
                                position: relative;
                                .row1 {
                                    position: absolute;
                                    top: 0;
                                    left: 2%;
                                    height: 70px;
                                    width: 729px;
                                    display: flex;
                                    align-items: center;
                                    img {
                                        &:nth-child(1) {
                                        width: 63px;
                                        height: 17px;
                                        margin-right: 15px;
                                        }
                                        &:last-child {
                                        width: 36px;
                                        height: 36px;
                                        position: relative;
                                        right: 5%;
                                        }
                                    }
                                    .notice-box {
                                        width: 100%;
                                        overflow-y: hidden;
                                        height: 13px;
                                        cursor: pointer;
                                        ul {
                                            margin-top: -24px;
                                            li {
                                                margin-bottom: 11px;
                                                h4 {
                                                    color: #fff;
                                                    font-size: 13px;
                                                    font-weight: 500;
                                                    &:hover {
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .row2 {
                                    position: absolute;
                                    bottom: 0;
                                    right: 3%;
                                    width: 317px;
                                    height: 70px;
                                    img {

                                        &:nth-child(1) {
                                            margin-right: 15px;
                                            position: relative;
                                            top: 16%;
                                            }
                                        &:nth-child(2) {
                                            position: relative;
                                            bottom: 5%;
                                            }
                                        &:last-child {
                                        width: 36px;
                                        height: 36px;
                                        position: relative;
                                        left:  13%;
                                        bottom: 7%;
                                            }
                                        }
                                    }
                                }
                            }
                        .sub-content3 {
                            background: url(../../../../public/img/starbucks/sub7/promotion_bimg1.jpg) 30% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .col-box {
                                position: relative;
                                left: 17%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 40px;
                                        display: block;
                                        background-color: transparent;
                                        color: #fff;
                                        font-size: 16px;
                                        font-weight: 600;
                                        border: 2px solid #fff;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #Fff;
                                            color: #000;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        .sub-content4 {
                            background: url(../../../../public/img/starbucks/sub7/promotion_bimg2.jpg) 80% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            .col-box {
                                position: relative;
                                left: 19%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 40px;
                                        display: block;
                                        background-color: transparent;
                                        color: #000;
                                        font-size: 16px;
                                        font-weight: 600;
                                        border: 2px solid #000;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        cursor: pointer;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #000;
                                            color: #fff;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        .sub-content5 {
                            background: url(../../../../public/img/starbucks/sub7/promotion_bimg3.jpg) 30% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .col-box {
                                position: relative;
                                left: 17%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 40px;
                                        display: block;
                                        background-color: transparent;
                                        color: #fff;
                                        font-size: 16px;
                                        font-weight: 600;
                                        border: 2px solid #fff;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #Fff;
                                            color: #000;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        .sub-content6 {
                            background: url(../../../../public/img/starbucks/sub7/promotion_bimg4.jpg) 80% 100%;
                            width: 100%;
                            height: 430px;
                            display: flex;
                            align-items: center;
                            justify-content: left;
                            .col-box {
                                position: relative;
                                left: 19%;
                                    img {
                                        width: auto;
                                        display: block;
                                    }
                                    button {
                                        margin-top: 40px;
                                        display: block;
                                        background-color: transparent;
                                        color: #000;
                                        font-size: 16px;
                                        font-weight: 600;
                                        border: 2px solid #000;
                                        border-radius: 3px;
                                        width: 125px;
                                        height: 38px;
                                        cursor: pointer;
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            background-color: #000;
                                            color: #fff;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }  
                }
            }
        }
    }