#section3 {
    width: 100%;
    .wrap {
        width: 100%;
        background: #1e3932;
        height: 240px;
        .container {
            width: 100%;
            max-width: 1080px;
            margin: 0 auto;
            padding: 35px 0 40px 0;
            .content {
                display: flex;
                .col1 {
                    margin: 0 40px;
                    img {
                        width: 176px;
                        height: 152px;
                        align-items: left;
                    }
                }
                .col2 {
                    width: 100%;
                    margin-left: 20px;
                    .row1 {
                        width: 100%;
                        display: flex;
                        position: relative;
                        .txt-box1 {
                            color: #fff;
                            h2 {
                                font-size: 26px;
                                margin-bottom: 12px;
                            }
                            h3 {
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 130%;
                            }
                        }
                        .btn-box1 {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                           > button {
                            height: 38px;

                            color: #fff;
                            font-weight: 600;
                            font-size: 14px;
                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                            }
                                &.signUp {
                                    width: 91px;
                                    border: 2px solid #00704a;
                                    background-color: #00704a;
                                    border-radius: 5px;
                                }
                                &.signIn {
                                    width: 78.5px;
                                    border: 2px solid #fff;
                                    background-color: transparent;
                                    border-radius: 5px;
                                    margin-left: 10px;
                                }
                                
                            }
                        }
                    }
                    hr {
                        border: 1px solid rgba(255, 255, 255, 0.1);
                        margin: 12px 0 22px 0;
                    }
                    .row2 {
                        display: flex;
                        position: relative;
                        .txt-box2 {
                            p {
                                font-size: 14px;
                                color: #fff;
                                line-height: 130%;;
                            }
                        }
                        .btn-box2 {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                                button {
                                    height: 38px;
                                    width: 179px;
                                    border: 2px solid #fff;
                                    background-color: transparent;
                                    border-radius: 5px;
                                    margin-left: 10px;
                                    color: #fff;
                                    &:hover {
                                        cursor: pointer;
                                        text-decoration: underline;
                                    }
                                }
                            
                        }
                    }
                }
            }
        }
    }
}