#section6 {
    width: 100%;
    background: url(../../../../public/img/starbucks/section6/231222_1_pc_pick_bg.jpg) fixed no-repeat 50% 50% #45434c  ;
    background-size: auto 90%;
    background-position: bottom;
    overflow: hidden;
    .container {
        width: 100%;
        max-width: 1280px;
        height: 800px;
        margin: 0 auto;
        .content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .col1 {
                width: 40%;
                height: 100%;
                position: relative;
                .txt-box {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    @keyframes anisection7Col1on {
                        from {
                            opacity: 0;
                            left: -100%;
                        }
                        to {
                            opacity: 1;
                        }
                    }
                    @keyframes anisection7Col1off {
                        from {
                            opacity: 1;
                        }
                        to {
                            opacity: 0;
                            left: -100%;
                        }
                    }
                    img {
                        width: 100%;;
                        &.big-img {
                            position: absolute;
                            // left: 20%;
                            top: 15%;
                            left: 47%;
                            width: 258px;
                            height: 204px;
                        }
                        &.small-img {
                            position: absolute;
                            bottom: 35%;
                            left: 25%;
                            width: 362px;
                            height: 156px;
                        }
                    }
                }
                .btn-box {
                    position: absolute;
                    bottom: 25%;
                    right: 0%;
                    button {
                        width: 125px;
                        height: 38px;
                        border: 2px solid #fff;
                        border-radius: 5px;
                        background: transparent;
                        font-size: 15px;
                        transition: all 0.5s ease-in-out;
                        color: #fff;
                        @keyframes aniBtnOn {
                            from {
                                opacity: 0;
                            }
                            to {
                                opacity: 1;
                            }
                            
                        }
                        &:hover {
                            background: #fff;
                            text-decoration: underline;
                            color: #000;
                        }
                    }
                }
            }
            .col2 {
                width: 60%;
                margin-left: 30px;
                // @keyframes aniCol2on {
                //     from {
                //         opacity: 0;
                //     }
                //     to {
                //         opacity: 1;
                //     }
                // }

                .img-box {
                    img {
                        width: 912px;
                        height: 575px;
                    }
                }

            }
        }
    }
}