#section5 {
    width: 100%;
    background: url(../../../../public/img/starbucks/section5/231221_pc_reserve_bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 400px;
    .container {
        height: 100%;
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        overflow: hidden;
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .col1 {
                position: absolute;
                left: 15%;
                top: 30%;
                width: 100%;
                height: 100%;
                .txt-box {
                    width: 100%;
                    position: relative;
                    z-index: 4;
                    bottom: 10%;
                    left: 5%;
                    img {
                        width: auto;
                    }
                }
                .btn-box {
                    position: relative;
                    z-index: 4;
                    bottom: 10%;
                    left: 20%;
                    button {
                        width: 125px;
                        height: 38px;
                        border: 2px solid #b68341;
                        border-radius: 5px;
                        background: transparent;
                        font-size: 15px;
                        transition: all 0.5s ease-in-out;
                        color: #b68341;
                        &:hover {
                            background: #b68341;
                            text-decoration: underline;
                            color: #000;
                        }
                    }
                }
            }
            .col2 {
                width: 100%;
                margin-left: 30px;
                position: relative;
                right: 40%;
                @keyframes aniSection5Col2on {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }

                .img-box {
                    img {

                    }
                }

            }
        }
    }
}